.after-effect {
  position: relative;
  background: #CF68A6;
  background: linear-gradient(to right, #CF68A6 35%, #4E3ACF 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.after-effect::after {
  content: "";
  width: 100px;
  height: 4px;
  background: blueviolet;
  position: absolute;
  top: 50%;
  margin-left: 4px;
}

.banner-container {



    font-family: 'Share Tech', sans-serif;
    font-size: 68px;
    color: white;

    text-shadow: 8px 8px 10px #0000008c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);




  font-weight: 900;
  font-family: sans-serif;
 
  clip-path: polygon(0 100%, 35% 89%, 74% 100%, 100% 85%, 100% 0%, 0 0);
}

.ancor-tag h2 {
  cursor: pointer;
color: black;
  position: relative;
}

.ancor-tag h2:hover {

opacity: 0.5;

}

.text-animation {
	-webkit-animation: text-shadow-pop-top 0.6s both;
	        animation: text-shadow-pop-top 0.6s both;
}

@media screen and (max-width: 550px) {
  .banner-container{
    clip-path: polygon(0 100%, 38% 98%, 71% 100%, 100% 96%, 100% 0%, 0 0);

  }
  
}


 @-webkit-keyframes text-animation {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
@keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
.bg-text{
  position: relative;
}
.bg-text::after{
  margin: 5rem;
  content: "JASIM AHMED";
  position: absolute;
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  color: rgb(187, 182, 182);
  top: 0;
  left: 0;
  width: 20rem;
  z-index: -1;
  
}
