.after-effect {
  position: relative;
  background: #CF68A6;
  background: linear-gradient(to right, #CF68A6 35%, #4E3ACF 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.after-effect::after {
  content: "";
  width: 100px;
  height: 4px;
  background: blueviolet;
  position: absolute;
  top: 50%;
  margin-left: 4px;
}
.image-style{
  background-color: rgba(250, 235, 215, 0.942);
  -webkit-filter: brightness(112%) saturate(101%);
  filter: brightness(112%) saturate(101%);
}
.ancor-tag h2{
cursor: pointer;
color: rgba(79, 79, 159, 0.904);
}

.ancor-tag h2:hover{
  color: rgba(218, 165, 32, 0.648);
}
