.after-effect {
  position: relative;
  background: #CF68A6;
  background: linear-gradient(to right, #CF68A6 35%, #4E3ACF 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.after-effect::after {
  content: "";
  width: 100px;
  height: 4px;
  background: blueviolet;
  position: absolute;
  top: 50%;
  margin-left: 4px;
}

.banner-container{
  font-weight: 900;
  font-family: sans-serif;
  background: #2a2d3a;
  

}

.ancor-tag h2{
cursor: pointer;
color: rgba(79, 79, 159, 0.904);
position: relative;
}

.ancor-tag h2:hover{

  color: white;

}

