.about {
  text-decoration: overline solid rgb(90, 90, 216) 4px;

}

.slidebar:hover {
  cursor: pointer;
}

.main-container {
  background: #10121b;
  opacity: 0.8;
  background-size: 200px 200px;
  background-image: repeating-linear-gradient(to right, #ebecf7, #e0e1f3 1px, #01010a 1px, #01010a);
}

.border-animation {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}
.border-animation:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


