.slidebar {
  -webkit-box-shadow: 5px 21px 39px 10px rgba(0,0,0,0.98); 
  box-shadow: 5px 21px 39px 10px rgba(0,0,0,0.98);
}

.about{
  text-decoration: overline solid rgb(90, 90, 216) 4px;

}
.slidebar:hover{
  cursor: pointer;
}
.main-container{
  background: linear-gradient(54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95))
}