.contact-background {
  background-color:#191d2b;
  opacity: 0.6;
  background-size: 200px 200px;
  background-image: repeating-linear-gradient(to right, #8a8c9d, #e0e1f3 1px, #01010a 1px, #01010a);

}